* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body, ul, li, input {
    color: #e8eaf6;
}


.breakdown-container {
    width: 90%;
    max-width: 420px;
    margin: 20px auto;
    box-shadow: 0px 7px 13px 4px rgba(0,0,0,.22);
    background-color: #232733;
}

.breakdown-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 60px;
    padding: 0 15px;
    background-color: #141720;
}

.breakdown-logo {
    display: flex;
    align-items: center;
}

.add-step-button {
    height: 30px;
    width: 30px;
    border: 0;
    background-color: #73d9ff;
    border-radius: 4px;
    line-height: 30px;
    font-size: 20px;
    color: #fff;
    cursor: pointer;
}

.step-bullet {
    max-height: 6px;
    height: 8px;
    width: 8px;
    min-width: 6px;
    margin: 20px;
    border-radius: 50%;
    background-color: #232733;
}

.step-list .step-bullet {
    background-color: #141720;
}

.step-num-count {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 26px;
    min-width: 26px;
    width: 26px;
    margin: 20px;
    border: 2px solid #232733;
    border-radius: 4px;
}

.todo-list input {
    border: none;
    outline: none;
    background: none;
    width: 100%;
    font-size: 14px;
}

.todo-list ::-webkit-input-placeholder{
    opacity: .2;
}

.todo-item {
    list-style-type: none;
}

.todo-info {
    display: flex;
    -ms-align-items: center;
    align-items: center;
    height: 48px;
    margin-bottom: 2px;
    justify-content: space-between;
    background-color: #3b4254;
    text-align: left;
}

.todo-action-buttons {
    display: flex;
}

.step-list {
    padding: 0;
    margin-left: 20px;
    text-align: left;
}

.step-list li {
    height: 48px;
    background: #2f3545;
    margin-bottom: 2px;
}

.todo-step {
    display: flex;
    justify-content: space-between;
}
