@font-face {
    font-family: 'Source Sans Pro';
    src: url('../fonts/sourcesanspro-regular-webfont.woff2') format('woff2'),
         url('../fonts/sourcesanspro-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Source Sans Pro';
    src: url('../fonts/sourcesanspro-bold-webfont.woff2') format('woff2'),
         url('../fonts/sourcesanspro-bold-webfont.woff') format('woff');
    font-weight: 700;
    font-style: bold;
}

* {
    -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
      -ms-box-sizing: border-box;
          box-sizing: border-box;
    margin: 0;
    padding: 0;
    outline: 0;
    border: 0;
}

body {
    background-color: #e8eaf6;
    font-family: "Source Sans Pro", "Lucida Grande", Verdana, sans-serif;
    font-weight: 300;
}

body, ul, li, input {
    color: #e8eaf6;
}

.breakdown-logo img {
    height: 30px;
    margin-right: 20px;
}

.break {
    font-size: 24px;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-family: sans-serif;
}

.down {
    font-size: 15px;
    font-weight: 400;
    color: #596c7a;
    letter-spacing: .5px;
}


.breakdown-container {
    width: 90%;
    max-width: 420px;
    margin: 8vh auto;
    background-color: #141720;
    padding-bottom: 100px;
    background: linear-gradient(to bottom, #141720 80%, rgba(20, 23, 32, 0) 100%);
}

.breakdown-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 64px;
    padding: 0 15px;
    background-color: #141720;
    border-bottom: 2px solid #f75d90;
}

.breakdown-logo {
    display: flex;
    align-items: center;
}

.add-step-button {
    height: 30px;
    width: 30px;
    border: 0;
    background-color: #73d9ff;
    border-radius: 4px;
    font-size: 22px;
    font-weight: 600;
    padding-bottom: 4px;
    color: #fff;
    cursor: pointer;
    box-shadow: 0px 2px 10px 3px rgba(115, 217, 255, 0.25);
}

.step-bullet {
    max-height: 6px;
    height: 8px;
    min-width: 6px;
    margin: 20px;
    border-radius: 50%;
    background-color: #232733;
}

.step-list .step-bullet {
    background-color: #141720;
}

.step-num-count {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 26px;
    min-width: 26px;
    width: 26px;
    margin: 10px;
    border: 2px solid #2f3545;
    border-radius: 2px;
}

.step-num-count.selected {
    background-color: #232733;
}

.todo-list {
    box-shadow: 0px -3px 5px -1px #f75d90;
}

.todo-list input {
    border: none;
    outline: none;
    background: none;
    width: 100%;
    font-size: 14px;
}

.todo-list ::-webkit-input-placeholder{
    opacity: .2;
}

.todo-item {
    list-style-type: none;
}

.todo-info:hover .step-bullet, .todo-step:hover .step-bullet {
    background-color: #f75d90;
    box-shadow: 0px 0px 3px 1px #f75d90;
}

.todo-info:hover .step-num-count {
    color: #f75d90;
    text-shadow: 0px 0px 3px #f75d90;

}

.todo-info {
    display: flex;
    -ms-align-items: center;
    align-items: center;
    min-height: 58px;
    margin-bottom: 2px;
    justify-content: space-between;
    background-color: #3b4254;
    text-align: left;
}

.todo-action-buttons {
    display: flex;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    align-self: flex-start;
    -ms-align-items: flex-end;
    align-items: flex-end;
    margin-right: 5px;
}

.remove-step-btn {
    height: 20px;
    width: 20px;
    background: rgba(0,0,0,0);
    color: #232733;
    font-size: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    line-height: 20px;
    cursor: pointer;
}

.create-sub-step-btn {
    height: 20px;
    width: 20px;
    margin-top: 5px;
    background: #2f3545;
    border-radius: 2px;
    padding-bottom: 2px;
    font-size: 16px;
    line-height: 16px;
    color: #e8eaf6;
    cursor: pointer;
}

.step-list {
    padding: 0;
    text-align: left;
    transform: translateX(26px);
}

.step-list li {
    background: #2f3545;
    margin-bottom: 2px;
}

.todo-step {
    display: flex;
    justify-content: space-between;
    -ms-align-items: center;
    align-items: center;
    min-height: 58px;
}

.remove-sub-step-btn {
    height: 20px;
    width: 20px;
    background: rgba(0,0,0,0);
    font-size: 20px;
    align-self: flex-start;
    margin-right: 5px;
    color: #141720;
    line-height: 20px;
    cursor: pointer;
}

.first-step {
    text-align: center;
}

.first-step-text {
    font-weight: 300;
    padding: 20px 0 10px;
}

.first-step-btn {
    background-color: #73d9ff;
    color: #fff;
    height: 32px;
    width: 130px;
    font-size: 24px;
    font-weight: 600;
    padding-bottom: 4px;
    border-radius: 17px;
    box-shadow: 0px 2px 10px 3px rgba(115, 217, 255, 0.25);
    cursor: pointer;
}

/* ------------- Text Area Multiline Hack ---------------- */
.expandingTextArea {
  position: relative;
  width: 100%;
}

.expandingTextArea > textarea,
.expandingTextArea > .dummy-container {
  padding: 5px;
  background: transparent;
  font: 400 14px/16px helvetica, arial, sans-serif;
  /* Make the text soft-wrap */
  white-space: pre-wrap;
  word-wrap: break-word;
}

.expandingTextArea > textarea {
  /* The border-box box model is used to allow
   * padding whilst still keeping the overall width
   * at exactly that of the containing element.
   */
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
      -ms-box-sizing: border-box;
          box-sizing: border-box;
  width: 100%;
  /* This height is used when JS is disabled */
  height: 100px;
  /* Hide any scrollbars */
  overflow: hidden;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  /* Remove WebKit user-resize widget */
  resize: none;
  color: #e8eaf6;
  background: rgba(59, 66, 84, 0);
  font-size: 14px;
  font-weight: 300;
}

.expandingTextArea > .dummy-container {
    display: block;
    /* Hide the text; just using it for sizing */
    visibility: hidden;
}

/* -------------About Component ---------------- */


.about-link {
    display: block;
    margin: 10px 10px 0 0;
    color: #596c7a;
    text-decoration: none;
    font-size: .8em;
    text-align: right;
}

.about-info {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    z-index: 300;
    flex-direction: column;
    align-items: center;
    color: #232733;
    background: #e8eaf6;
}

.about-info a {
    color: #596c7a;
    font-size: 1.2em;
    margin-bottom: 10px;
    text-decoration: none;
}

.about-info .about-back {
    display: block;
    margin: 10px 10px 0 0;
    font-size: .8em;
    align-self: flex-end;
}

.about-text {
    width: 90%;
    max-width: 540px;
    text-align: left;
    font-size: 1.2em;
    line-height: 1.618em;
    font-weight: 400;
    margin: 20vh 0 5vh;
}

.about-dancer {
    font-size: 1.5em;
}

/* -------------Animation Styling ---------------- */

.todo-enter {
    transition: all 0.2s ease-in;
    transform: translateX(-20%);
	max-height: 0;
    opacity: 0;
}
.todo-enter-active {
    transform: translateX(0%);
	max-height: 58px;
    opacity: 1;
}

.todo-leave {
    transition: all 0.2s ease-out;
    max-height: 58px;
    opacity: 0;
}
.todo-leave-active {
    max-height: 0;
    opacity: 1;
}

.substep-enter {
    transition: all 0.2s ease-in;
	max-height: 0;
    opacity: 0;
    transform: translateY(150%);
}

.substep-enter-active {
	max-height: 58px;
    opacity: 1;
    transform: translateY(0%);
}

.substep-leave {
    transition: all 0.2s ease-out;
    max-height: 58px;
    opacity: 1;
    transform: translateX(0%);
}
.substep-leave-active {
    max-height: 0;
    opacity: 0;
    transform: translateX(20%);

}
